:host ::ng-deep{
  .p-toast{
    margin-top: 80px;
  }
  .p-toast-message-custom{
    background-color: #e1cfe7;
    border: solid #8a427a;
    border-width: 0 0 0 6px;
    color: #2c1e30;
    .p-toast-icon-close{
      color: #2c1e30;
    }
  }
}
