.card-style {
  max-width: 380px;
  /* display: inline-block !important; */
  min-width: 300px;
}
.main-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.course-align {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-img{
  background-image: url('/assets/images/frontImg.jpg');
}
