.job-subheading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 1rem;
}
.job-sub-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100% !important;
  // padding: 1rem;
}

:host ::ng-deep .mat-mdc-card-header .mat-mdc-card-header-text {
  width: 100% !important;
}
:host ::ng-deep .mdc-card__actions {
  justify-content: space-evenly;
}
